<header class="p-3" style="background-color: #37434d; height: 80px;">
        <div class="d-flex flex-wrap align-items-center text-white justify-content-center justify-content-lg-between">

            <ul class="nav col-12 col-lg-auto justify-content-center">
                <li><a href="/gym%20app/templates/static" class="nav-link text-white"><i class="bi bi-globe-americas"></i> Brand</a></li>
                <li><a href="/calendar" class="nav-link text-white"><i class="bi bi-card-list"></i> Oferta</a></li>
                <li><a href="/clock" class="nav-link text-white"><i class="bi bi-cash-coin"></i> Cennik</a></li>
                <li><a href="exercises" class="nav-link text-white"><i class="bi bi-question-circle"></i> exercises</a></li>
                <li><a href="/progress" class="nav-link text-white"><i class="bi bi-house-door"></i> O nas</a></li>
            </ul>

        </div>
    </header>