{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="main/includes/css.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/stopWatch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
<style>
    .nav-item3 a {
        color:#e8e8e8;
        background-color: #131315;
    }
    p{
        position: sticky;
        top: 100px;
        font-size: 50px;
        text-align: center;
        font-family: "Comic Sans MS", serif;
        letter-spacing: 5px;
        color: #fff;
        text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff,
    0 0 140px #fff;
    }
    .time {
        color: #e8e8e8;
        font-size: 70px;
        position: relative;
        text-align: center;
        width: 340px;
    }
    .container{
        position: absolute;
        top:400px;
    }
    .buttons button{
        height: 80px;
        width: 80px;
        border-radius:50%;
        text-align: center;
    }
    #startButton{
        position: absolute;
        left: 20px;
    }
    #stopButton{
        position: absolute;
        left: 260px;
    }
    #resetButton{
        position: absolute;
        left:140px;
        top: 200px;
        border-radius: 30px;
    }
    .main{
        margin: 0 auto;
        padding: 0;
        width: 360px;
        height: 760px;
    }
    </style>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
<script>
    function updateRemainingTime() {
        fetch('/remaining_time')
        .then(response => response.json())
        .then(data => {
            let minutes = Math.floor(data.remaining_time_in_seconds / 60);
            let seconds = Math.floor(data.remaining_time_in_seconds % 60);
            if (seconds < 10 && seconds >= 0) {
                seconds = "0" + seconds;
            }

            let remainingTimeElement = document.getElementById("remaining_time");
            remainingTimeElement.innerText = `${minutes}:${seconds}`;
            document.getElementById("remaining_time").innerText = minutes + ":" + seconds;

        })
    }
    setInterval(updateRemainingTime, 500);
</script>
{% block content %}
<div class="main">
<p>GYM TIME</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <h2 class="time" id="timer">0.0</h2>

            <div class="buttons">
                <div class="start-stop">
                    <button type="button" id="startButton" class="start-stop-btn btn-success btn-lg">START</button>
                    <button type="button" id="stopButton" class="start-stop-btn btn-danger btn-lg">STOP</button>
                </div>
                <div>
                    <button type="button" id="resetButton" class="reset-btn btn-dark btn-lg btn-block">RESET</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table id="data-table">
            </table>
        </div>
</div>

</div>
<svg width="360" height="650" xmlns="http://www.w3.org/2000/svg">
 <g>
  <path fill="none" stroke-width="10" opacity="undefined" transform="rotate(-3, 180, 305)" d="m65,310c0,-54.3379 45.6621,-100 100,-100l30,0c54.3379,0 100,45.6621 100,100l0,-10c0,54.3379 -45.6621,100 -100,100l-30,0c-54.3379,0 -100,-45.6621 -100,-100l0,10z" id="svg_10" stroke="#ffffff"/>
  <path fill="#fff" stroke="#000" opacity="undefined" d="m30,310c0,-16.30137 13.69863,-30 30,-30l10,0c16.30137,0 30,13.69863 30,30l0,100c0,16.30137 -13.69863,30 -30,30l-10,0c-16.30137,0 -30,-13.69863 -30,-30l0,-100z" id="svg_6"/>
  <path fill="#fff" stroke="#000" opacity="undefined" d="m260,310c0,-16.30137 13.69863,-30 30,-30l10,0c16.30137,0 30,13.69863 30,30l0,100c0,16.30137 -13.69863,30 -30,30l-10,0c-16.30137,0 -30,-13.69863 -30,-30l0,-100z" id="svg_7"/>
  <line id="svg_11" y2="430" x2="100.73167" y1="281" x1="100.73167" fill="none"/>
  <line stroke-width="2" id="svg_12" y2="422.94467" x2="99.53275" y1="296.15284" x1="99.95469" stroke="#131315" fill="none"/>
  <line id="svg_13" y2="424.42146" x2="260" y1="293.83219" x1="260" stroke-width="2" stroke="#131315" fill="none"/>
  <rect fill="#fff" stroke="#000" x="104.75674" y="262.79631" width="65.11999" height="71.13191" id="svg_3" transform="rotate(20.2292, 137.317, 298.362)" rx="20"/>
  <rect fill="#fff" stroke="#000" x="190" y="262.79631" width="65.11999" height="71.13191" id="svg_4" transform="rotate(-20, 222.56, 298.362)" rx="20"/>
  <line fill="none" stroke="#000" x1="110" y1="360.34098" x2="50" y2="361.47735" id="svg_8" stroke-width="3"/>
  <line fill="none" stroke="#000" x1="250" y1="360.34098" x2="310" y2="361.47735" id="svg_14" stroke-width="3"/>
  <line fill="none" stroke="#000" x1="250" y1="360" x2="310" y2="350" id="svg_15" stroke-width="3"/>
  <line fill="none" stroke="#000" x1="250" y1="360" x2="310" y2="350" id="svg_16" stroke-width="3"/>
  <line fill="none" stroke="#000" x1="250" y1="362" x2="310" y2="370" id="svg_17" stroke-width="3"/>
  <line fill="none" stroke="#000" x1="110" y1="360.34098" x2="50" y2="350" id="svg_18" stroke-width="3"/>
  <line fill="none" stroke="#000" x1="110" y1="362" x2="50" y2="370" id="svg_19" stroke-width="3"/>
  <rect fill="#ffffff" stroke="#ffffff" x="90" y="448" width="180" height="281.81821" id="svg_20" rx="100"/>
  <ellipse fill="#ffffff" stroke="#ffffff" stroke-width="14" cx="33.40908" cy="499.54554" id="svg_22" rx="4.54545" ry="34.65909" transform="rotate(-21.6446, 33.4091, 499.546)"/>
  <ellipse fill="#ffffff" stroke="#ffffff" stroke-width="14" cx="53.05723" cy="540.66295" id="svg_23" rx="30.39866" ry="6.25" transform="rotate(57.3134, 53.0572, 540.663)"/>
  <ellipse fill="#ffffff" stroke-width="14" cx="87.10029" cy="591.15692" id="svg_24" rx="39.94512" ry="6.25" transform="rotate(58.1533, 87.1003, 591.157)" stroke="#ffffff"/>
  <ellipse fill="#ffffff" stroke="#ffffff" stroke-width="14" cx="89.50489" cy="493.24606" id="svg_25" rx="10.59182" ry="45.45455" transform="rotate(-34.8907, 89.5049, 493.246)"/>
  <ellipse fill="#ffffff" stroke="#ffffff" stroke-width="14" cx="270" cy="493.24606" id="svg_27" rx="10.59182" ry="45.45455" transform="rotate(35, 270, 493.246)"/>
  <ellipse fill="#ffffff" stroke="#ffffff" stroke-width="14" cx="20.90908" cy="445.00009" id="svg_28" rx="4.54545" ry="34.65909" transform="rotate(-5.36991, 20.9091, 445)"/>
  <rect fill="#bfbfbf" stroke="#ffffff" x="110" y="465" width="140" height="250" id="svg_30" rx="100"/>
  <rect fill="#bfbfbf" x="109.30219" y="273.02358" width="65.11999" height="71.13191" id="svg_33" transform="rotate(20.2292, 141.862, 308.59)" rx="20"/>
  <rect fill="#bfbfbf" x="186" y="273.02358" width="65.11999" height="71.13191" id="svg_34" transform="rotate(-20, 218.56, 308.59)" rx="20"/>
  <ellipse ry="90" rx="90" id="svg_5" cy="360" cx="180" stroke="#fff" fill="#000" stroke-width="4"/>
  <path fill="none" stroke="#191919" opacity="undefined" d="m51.70224,457.25802l11.95462,7.39013" id="svg_39"/>
  <line fill="none" stroke="#000000" x1="65.83042" y1="460.30101" x2="55.3973" y2="449.65053" id="svg_42"/>
  <line fill="none" stroke="#000000" x1="71.26434" y1="457.91009" x2="61.918" y2="447.25961" id="svg_43"/>
  <line fill="none" stroke="#000000" x1="302.74923" y1="449.21582" x2="291.66403" y2="463.56136" id="svg_44"/>
  <line fill="none" stroke="#000000" x1="297.75002" y1="445.3034" x2="286.66483" y2="459.64894" id="svg_45" transform="rotate(-12.2582, 292.207, 452.476)"/>
  <line fill="none" stroke="#000000" x1="306.44429" y1="452.69353" x2="295.3591" y2="467.03907" id="svg_47"/>
 </g>
</svg>
</div>
    {% include "main/includes/footer.html" %}
{% endblock %}